.DS_Store
.env.development.local
.env.local
.env.production.local
.env*.local
.pnp.js
.pnpm-debug.log*
.vercel
*.pem
*.tsbuildinfo
/.next/
/.pnp
/build
/coverage
/node_modules
/out/
/src/tools/shared
/src/types/shared
next-env.d.ts
npm-debug.log*
yarn-debug.log*
yarn-error.log*
