.devcontainer
.env
.git
.github
**/.dockerignore
**/.git
**/.gitignore
**/.htpasswd_example
**/.next
**/.nvmrc
**/bin
**/build
**/built
**/cv_webrtc_server
**/dist
**/dist2
**/docker-compose*
**/Dockerfile
**/node_modules
**/node.Dockerfile
**/README.md
**/temp
backend/src/tools/shared
backend/src/types/shared
env
frontend/src/tools/shared
frontend/src/types/shared
npm-debug.log
