**/bin
**/types/shared
**/tools/shared
**/dist
**/build
**/node_modules
.git
npm-debug.log
**/bin
backend/src/types/shared
frontend/src/types/shared
backend/src/tools/shared
frontend/src/tools/shared
**/dist
**/build
**/node_modules
.git
npm-debug.log
env
.env
.github
.devcontainer
**/.gitignore
**/temp
**/cv_webrtc_server
**/Dockerfile
**/node.Dockerfile
**/.htpasswd_example
**/README.md
**/.nvmrc
**/.dockerignore
