body,
html,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  position: relative;
}

@import '~antd/dist/reset.css';
